.scanner__off__snap{
    scroll-snap-type: y mandatory; 
}
.scanner__off__activity__log{
    background: #494884;
    box-shadow: -1px -4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 30px 30px 0px 0px;
    height: 40vh;
    overflow:scroll;
    overflow-x:hidden;
    scroll-snap-align: start;
     
}
.scanner__off__activity__log--content{
    box-sizing: border-box;
    border: 1px solid #7277C5;
    border-radius: 20px;
    margin: 64px 15px 21px 15px;
}
.scanner__off__activity__log--status{
    display: flex;
}
.scanner__off__activity__log--details{
    display: flex; 
}
.scanner__off__activity__log--details--text{
    margin: 29px 104px 15px 15px;
    flex: 2;
}
.scanner__off__activity__log--details--count{
    display: flex;
    align-items: center;
    margin: 29px 104px 15px 15px;
}