.scanner__off{
    display: flex;
    flex-direction: column;
}
.scanner__off--tour__details{
    color:#D1D0FF;
    margin: 68px 19px 18px 16px;
}
.scanner__off--tour__details--heading{
    font-weight: 700;
}



