* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  border: none;
  border-radius: 0;
}

html,
body {
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: var(--font-text);
  font-size: var(--size-text);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: var(--color-text-primary);
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background-color: var(--color-background);
  font-feature-settings: "kern" 1, "onum" 0, "liga" 1;
  caret-color: var(--color-tint);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    outline: none !important;
  }
}

p {
  margin:0;
}
